.info-box-number{
    word-wrap: break-word;
}

/* backround color sidebar menu selected list item */
.sidebar-menu li{
    padding-left: 1em !important;
}
.sidebar-menu li.active{
    background-color: rgba(60,141,188, 0.3) !important;
}
.sidebar-menu>li.active>a {
    background-color: transparent !important;
}

/* datatable */
table.dataTable tbody td{
    word-break: break-word;
    vertical-align: top;
}

.bg-green{
    background-color: rgba(0, 255, 0, 1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.bg-red{
    background-color: rgba(255, 0, 0, 1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.bg-yellow{
    background-color: rgba(255, 255, 0, 1) !important;
    color: rgba(0, 0, 0, 1) !important;
}